.navbar > .container-fluid,
 .navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
#page-content-wrapper {
    min-width: 100vw;
  }

@media (min-width: 768px) {
#sidebar-wrapper {
    margin-left: 0;
}
#page-content-wrapper {
    min-width: 0;
    width: 100%;
}
body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
}
} 
