    <div class="container-fluid">

      <div class="board">
        <h1>Project Tracker</h1>
      </div>
      <div class="btnRow">
        <button type="button btnFilter" class="btn btn-light">Task assigned to me</button>
        <button type="button btnCreate" class="btn btn-primary" style="
        float: right;">Create Task</button>
      </div>
      
    <div class="row border taskRow" cdkDropListGroup>
      
      <div class="col taskCol list" cdkDropList
                                    id = "todo"
                                    [cdkDropListData]="todoTasks"
                                    cdkDropListConnectedTo="inprog"
                                    (cdkDropListDropped)="drop($event)"
       >
       <p class="colHeading">To-Do</p>
          <ng-container  *ngFor="let todotask of todoTasks">
            <app-task [content]="todotask"> </app-task>
          </ng-container>
      </div>

      <div class="col taskCol list" cdkDropList
      id = "inprog"
      [cdkDropListData]="inProgTasks"
      cdkDropListConnectedTo="inprog"
      (cdkDropListDropped)="drop($event)">
        <p class="colHeading">In Progress</p>
          <ng-container  *ngFor="let inProgTask of inProgTasks">
            <app-task [content]="inProgTask"> </app-task>
          </ng-container>
      </div>

      <div class="col taskCol list" cdkDropList
      id = "done"
      [cdkDropListData]="doneTasks"
      cdkDropListConnectedTo="todo"
      (cdkDropListDropped)="drop($event)">
        <p class="colHeading">Done</p>
        <ng-container  *ngFor="let doneTask of doneTasks">
          <app-task [content]="doneTask"> </app-task>
        </ng-container>
      </div>
   
    </div>

    </div>